<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/new.min.css">

    <title>Piko-Mirror</title>
</head>
<body>
<header>
    <h1>PikoMirror</h1>
    <nav>
        <a href="/">Home</a> /
        <a href="/endpoints/">Endpoints</a> /
        <a href="/requests/">Requests</a>
    </nav>
</header>
{{block "main" .}}

{{end}}
</body>
</html>